USE [ICFAISMS]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 28-10-2025 10:33:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Authors__70DAFC147CA51D13] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BarcodeHistory]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BarcodeHistory](
	[BarcodeHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[CopyID] [int] NULL,
	[GeneratedBarcode] [varchar](50) NULL,
	[GeneratedAt] [datetime] NULL,
	[UniversityID] [int] NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__BarcodeH__DB8E38E218AC5DD7] PRIMARY KEY CLUSTERED 
(
	[BarcodeHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookinglisted]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookinglisted](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[MaterialID] [int] NOT NULL,
	[BookingDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[HoldExpiryDate] [datetime] NULL,
	[AssignedDate] [datetime] NULL,
 CONSTRAINT [PK__Bookingl__73951ACD9079E669] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Circulation]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Circulation](
	[CirculationID] [int] IDENTITY(1,1) NOT NULL,
	[CopyID] [int] NULL,
	[UserID] [nvarchar](450) NULL,
	[IssueDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[ReturnDate] [datetime] NULL,
	[Status] [varchar](20) NOT NULL,
	[FineAmount] [decimal](8, 2) NULL,
	[UniversityID] [varchar](50) NULL,
	[MaterialID] [int] NULL,
	[RequestedDate] [datetime] NULL,
	[BarcodeNumber] [varchar](50) NULL,
	[IsOverdue] [bit] NULL,
	[LastFineUpdateDate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IssuedBy] [int] NULL,
	[CounterID] [int] NULL,
 CONSTRAINT [PK__Circulat__1FDC63832F680425] PRIMARY KEY CLUSTERED 
(
	[CirculationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FineDetails]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FineDetails](
	[FineID] [int] IDENTITY(1,1) NOT NULL,
	[CirculationID] [int] NULL,
	[UserID] [nvarchar](450) NULL,
	[Amount] [decimal](8, 2) NULL,
	[Reason] [varchar](255) NULL,
	[AppliedDate] [datetime] NULL,
	[Paid] [bit] NULL,
	[UniversityID] [varchar](50) NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__FineDeta__9D4A9BCC3DFCEC23] PRIMARY KEY CLUSTERED 
(
	[FineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FineReasons]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FineReasons](
	[FineReasonID] [int] IDENTITY(1,1) NOT NULL,
	[Reason] [varchar](100) NOT NULL,
	[FineAmount] [decimal](10, 2) NOT NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[UserID] [nvarchar](450) NULL,
 CONSTRAINT [PK__FineReas__82E4D9E81AC46B52] PRIMARY KEY CLUSTERED 
(
	[FineReasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LibraryCounters]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LibraryCounters](
	[CounterID] [int] IDENTITY(1,1) NOT NULL,
	[CounterNumber] [nvarchar](50) NOT NULL,
	[CounterName] [nvarchar](100) NOT NULL,
	[EmployeeID] [int] NULL,
	[AssignedBy] [nvarchar](450) NOT NULL,
	[UniversityID] [int] NOT NULL,
	[SchoolID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK__LibraryC__F12879E4BB77B085] PRIMARY KEY CLUSTERED 
(
	[CounterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialCopies]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialCopies](
	[CopyID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialID] [int] NULL,
	[AccountNumber] [varchar](50) NULL,
	[BarcodeNumber] [varchar](50) NULL,
	[CallNumber] [varchar](50) NULL,
	[Status] [varchar](20) NOT NULL,
	[UniversityID] [varchar](50) NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsPrinted] [bit] NULL,
 CONSTRAINT [PK__Material__C26CCCE5B215B28C] PRIMARY KEY CLUSTERED 
(
	[CopyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[UniversityID] [varchar](50) NULL,
	[Title] [varchar](255) NULL,
	[Publisher] [varchar](255) NULL,
	[YearPublished] [int] NULL,
	[ISBN] [varchar](20) NULL,
	[MaterialType] [varchar](20) NOT NULL,
	[AvailableQuantity] [int] NULL,
	[TotalQuantity] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[AuthorID] [int] NULL,
	[Edition] [nvarchar](100) NULL,
	[PlaceofPublishers] [nvarchar](200) NULL,
	[Discription] [nvarchar](500) NULL,
	[Pages] [int] NULL,
	[Vol] [nvarchar](50) NULL,
	[Source] [nvarchar](200) NULL,
	[Price] [decimal](10, 2) NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__Material__C50613173524F056] PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[MaterialTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](100) NOT NULL,
	[UniversityID] [varchar](50) NULL,
	[SchoolID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[AddedBy] [nchar](450) NULL,
 CONSTRAINT [PK__Material__1621BBFF8DD74F94] PRIMARY KEY CLUSTERED 
(
	[MaterialTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatronNewMaterialRequests]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatronNewMaterialRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[SchoolID] [int] NOT NULL,
	[UniversityID] [int] NOT NULL,
	[MaterialTitle] [nvarchar](255) NOT NULL,
	[Author] [nvarchar](255) NULL,
	[Edition] [nvarchar](50) NULL,
	[Notes] [nvarchar](max) NULL,
	[RequestedDate] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__PatronNe__33A8519AC60D189B] PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorManagement]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorManagement](
	[VisitorID] [int] IDENTITY(1,1) NOT NULL,
	[VisitorName] [nvarchar](100) NOT NULL,
	[Purpose] [nvarchar](200) NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[VisitDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[UniversityID] [int] NULL,
	[SchoolID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VisitorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblEmployee]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblEmployee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[EmployeeCode] [varchar](20) NOT NULL,
	[Title] [varchar](10) NOT NULL,
	[JoiningDate] [datetime2](7) NOT NULL,
	[ExitDate] [datetime2](7) NULL,
	[Salary] [decimal](18, 2) NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Gender] [varchar](10) NULL,
	[Address] [nvarchar](500) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[PostalCode] [varchar](20) NULL,
	[EmergencyContactName] [nvarchar](100) NULL,
	[EmergencyContactPhone] [varchar](20) NULL,
	[Qualifications] [nvarchar](1000) NULL,
	[Experience] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedIPAddress] [varchar](45) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedIPAddress] [varchar](45) NULL,
	[RowVersion] [timestamp] NULL,
	[PhotoPath] [nvarchar](450) NULL,
	[Email] [nvarchar](50) NULL,
	[MobileNumber] [varchar](15) NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[DesignationID] [int] NULL,
	[IsTeachingStaff] [bit] NOT NULL,
	[FacultyType] [nvarchar](20) NULL,
	[UniversityID] [nvarchar](450) NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblRoles]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[RoleDescription] [nvarchar](255) NULL,
	[UniversityID] [nvarchar](450) NULL,
	[IsGlobalRole] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedIPAddress] [varchar](45) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedIPAddress] [varchar](45) NULL,
	[RowVersion] [timestamp] NULL,
	[RoleLevel] [nvarchar](20) NULL,
	[ParentRoleID] [nvarchar](450) NULL,
	[TemplateID] [int] NULL,
	[IsSystemRole] [bit] NOT NULL,
 CONSTRAINT [PK_tblRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblSchools]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblSchools](
	[SchoolID] [int] IDENTITY(1,1) NOT NULL,
	[SchoolName] [nvarchar](200) NOT NULL,
	[ShortName] [nvarchar](50) NOT NULL,
	[UniversityID] [nvarchar](450) NOT NULL,
	[HODUserID] [nvarchar](450) NULL,
	[DepartmentEmail] [varchar](200) NULL,
	[DepartmentPhone] [varchar](50) NULL,
	[OfficeLocation] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedIPAddress] [varchar](45) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedIPAddress] [varchar](45) NULL,
	[RowVersion] [timestamp] NULL,
	[Grading] [smallint] NOT NULL,
 CONSTRAINT [PK_tblDepartment] PRIMARY KEY CLUSTERED 
(
	[SchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblStudent]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblStudent](
	[StudentID] [nvarchar](450) NOT NULL,
	[UserID] [nvarchar](450) NULL,
	[EnrollmentNumber] [nvarchar](100) NULL,
	[StudentName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[MobileNumber] [nvarchar](20) NOT NULL,
	[PersonalEmail] [nvarchar](255) NULL,
	[ProfilePicture] [nvarchar](500) NULL,
	[Course] [nvarchar](200) NULL,
	[BatchYear] [int] NULL,
	[CurrentSemester] [int] NULL,
	[AdmissionDate] [datetime] NULL,
	[StudentStatus] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Age]  AS (datediff(year,[DateOfBirth],getdate())),
	[ProgramInstanceID] [int] NULL,
	[ProgramMasterID] [int] NULL,
	[BatchID] [int] NULL,
	[RegistrationSessionID] [nvarchar](100) NULL,
	[VerificationStatus] [nvarchar](50) NOT NULL,
	[VerifiedAt] [datetime2](7) NULL,
	[RegistrationSource] [nvarchar](100) NULL,
	[IPAddressAtRegistration] [nvarchar](50) NULL,
	[DeviceFingerprintAtRegistration] [nvarchar](255) NULL,
	[RegistrationCompletedAt] [datetime2](7) NULL,
	[DataHash] [nvarchar](255) NULL,
	[EncryptionKeyVersion] [int] NULL,
	[DisplayName] [nvarchar](200) NULL,
	[PlaceOfBirth] [nvarchar](200) NULL,
	[MaritalStatus] [nvarchar](20) NULL,
	[Religion] [nvarchar](50) NULL,
	[Caste] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Nationality] [nvarchar](50) NULL,
	[StateOfOrigin] [nvarchar](100) NULL,
	[MotherTongue] [nvarchar](50) NULL,
	[Languages] [nvarchar](500) NULL,
	[PhysicallyChallenged] [bit] NOT NULL,
	[DisabilityType] [nvarchar](200) NULL,
	[DisabilityPercentage] [decimal](5, 2) NULL,
	[AcademicEmail] [nvarchar](255) NULL,
	[AlternateMobile] [nvarchar](20) NULL,
	[HomePhone] [nvarchar](20) NULL,
	[WhatsAppNumber] [nvarchar](20) NULL,
	[AadhaarNumber] [nvarchar](20) NULL,
	[PANNumber] [nvarchar](20) NULL,
	[PassportNumber] [nvarchar](20) NULL,
	[DrivingLicense] [nvarchar](20) NULL,
	[VoterID] [nvarchar](30) NULL,
	[Hobbies] [nvarchar](500) NULL,
	[SpecialSkills] [nvarchar](500) NULL,
	[PersonalStatement] [nvarchar](max) NULL,
	[SubmissionSessionID] [nvarchar](100) NULL,
	[SubmittedAt] [datetime2](7) NULL,
	[CreatedIPAddress] [nvarchar](50) NULL,
	[ModifiedIPAddress] [nvarchar](50) NULL,
	[ApplicationNumber] [nvarchar](200) NULL,
	[AdmissionName] [nvarchar](50) NULL,
	[UniversityID] [nvarchar](450) NULL,
	[UniversityName] [varchar](50) NULL,
	[SchoolID] [int] NULL,
	[ApplicationDate] [datetime2](7) NULL,
	[ApprovalStatus] [nvarchar](50) NULL,
	[ApprovedBy] [nvarchar](100) NULL,
	[ApprovedDate] [datetime2](7) NULL,
	[Gender] [varchar](10) NULL,
	[BloodGroup] [varchar](5) NULL,
	[domicile] [bit] NULL,
 CONSTRAINT [PK_tblStudent] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblUniversity]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblUniversity](
	[UniversityID] [nvarchar](450) NOT NULL,
	[UniversityName] [nvarchar](300) NOT NULL,
	[ShortName] [nvarchar](100) NULL,
	[Address] [nvarchar](1000) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NULL,
	[PostalCode] [varchar](20) NULL,
	[ContactEmail] [varchar](200) NULL,
	[ContactPhone] [varchar](50) NULL,
	[AlternatePhone] [varchar](50) NULL,
	[Website] [varchar](300) NULL,
	[Logo] [varchar](500) NULL,
	[Favicon] [varchar](500) NULL,
	[UniversityTypeID] [int] NULL,
	[EstablishedYear] [int] NULL,
	[Affiliation] [nvarchar](300) NULL,
	[AccreditationInfo] [nvarchar](max) NULL,
	[CustomConfiguration] [nvarchar](max) NULL,
	[MenuTemplateID] [int] NULL,
	[RoleTemplateID] [int] NULL,
	[ThemeConfiguration] [nvarchar](max) NULL,
	[TimeZone] [varchar](100) NULL,
	[Language] [varchar](20) NULL,
	[Currency] [varchar](20) NULL,
	[AcademicCalendar] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[VerificationDate] [datetime2](7) NULL,
	[VerifiedBy] [varchar](100) NULL,
	[LicenseType] [varchar](100) NULL,
	[LicenseExpiryDate] [datetime2](7) NULL,
	[MaxStudents] [int] NULL,
	[MaxFaculty] [int] NULL,
	[MaxStaff] [int] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedIPAddress] [varchar](45) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedIPAddress] [varchar](45) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_tblUniversity] PRIMARY KEY CLUSTERED 
(
	[UniversityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblUserRoles]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblUserRoles](
	[UserRoleID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[RoleID] [int] NOT NULL,
	[UniversityID] [nvarchar](450) NOT NULL,
	[AssignedBy] [nvarchar](100) NOT NULL,
	[AssignedDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedIPAddress] [varchar](45) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedIPAddress] [varchar](45) NULL,
	[RowVersion] [timestamp] NULL,
 CONSTRAINT [PK_tblUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserRoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblUsers]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblUsers](
	[UserID] [nvarchar](450) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[Username] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[PasswordSalt] [nvarchar](200) NOT NULL,
	[SecurityStamp] [nvarchar](200) NULL,
	[RequirePasswordReset] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LastPasswordChangedDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[LockoutEndDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[CreatedIPAddress] [varchar](45) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedIPAddress] [varchar](45) NULL,
	[PasswordHistory] [nvarchar](max) NULL,
	[FailedLoginAttempts] [int] NULL,
	[LastLoginDate] [datetime2](7) NULL,
	[PasswordExpiryDate] [datetime2](7) NULL,
	[MustChangePassword] [bit] NULL,
	[RowVersion] [timestamp] NOT NULL,
	[EmployeeorStudentID] [nvarchar](50) NULL,
	[MobileNumber] [nvarchar](15) NULL,
 CONSTRAINT [PK__tblUsers__1788CCAC777A966D] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblUserSchools]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblUserSchools](
	[UserSchoolID] [int] IDENTITY(10001,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[SchoolID] [int] NOT NULL,
	[UniversityID] [nvarchar](450) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedIPAddress] [nvarchar](50) NOT NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedIPAddress] [nvarchar](50) NULL,
 CONSTRAINT [PK__tblUserS__1EF6C7730879FEAE] PRIMARY KEY CLUSTERED 
(
	[UserSchoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [ICFAISMS].[tblUserUniversities]    Script Date: 28-10-2025 10:33:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ICFAISMS].[tblUserUniversities](
	[UserUniversityID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [nvarchar](450) NOT NULL,
	[UniversityID] [nvarchar](450) NOT NULL,
	[RoleHierarchyLevel] [int] NULL,
	[IsPrimary] [bit] NOT NULL,
	[CanManageUsers] [bit] NOT NULL,
	[SystemWideAccess] [bit] NOT NULL,
	[JoiningDate] [datetime2](7) NULL,
	[ExitDate] [datetime2](7) NULL,
	[Status] [nvarchar](50) NULL,
	[ApprovalStatus] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__tblUserU__2B54FA0FA2B0D173] PRIMARY KEY CLUSTERED 
(
	[UserUniversityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [Name], [SchoolID], [IsActive]) VALUES (1, N'Robert Resnick and
David Halliday', 3, 1)
INSERT [dbo].[Authors] ([AuthorID], [Name], [SchoolID], [IsActive]) VALUES (2, N'Robert Resnick and David Halliday', 3, 1)
INSERT [dbo].[Authors] ([AuthorID], [Name], [SchoolID], [IsActive]) VALUES (3, N'Halliday and Resnick 
Walker', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookinglisted] ON 

INSERT [dbo].[Bookinglisted] ([BookingID], [UserID], [MaterialID], [BookingDate], [ExpiryDate], [Status], [SchoolID], [IsActive], [HoldExpiryDate], [AssignedDate]) VALUES (1, N'05744163-2E61-4567-A721-A961706D1A09', 3003, CAST(N'2025-10-27T11:49:46.927' AS DateTime), CAST(N'2025-11-03T11:49:46.927' AS DateTime), N'Pending', 100002, 0, NULL, NULL)
INSERT [dbo].[Bookinglisted] ([BookingID], [UserID], [MaterialID], [BookingDate], [ExpiryDate], [Status], [SchoolID], [IsActive], [HoldExpiryDate], [AssignedDate]) VALUES (2, N'05744163-2E61-4567-A721-A961706D1A09', 3005, CAST(N'2025-10-27T14:24:59.773' AS DateTime), CAST(N'2025-11-03T14:24:59.773' AS DateTime), N'Pending', 100002, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bookinglisted] OFF
GO
SET IDENTITY_INSERT [dbo].[Circulation] ON 

INSERT [dbo].[Circulation] ([CirculationID], [CopyID], [UserID], [IssueDate], [DueDate], [ReturnDate], [Status], [FineAmount], [UniversityID], [MaterialID], [RequestedDate], [BarcodeNumber], [IsOverdue], [LastFineUpdateDate], [ExpiryDate], [SchoolID], [IsActive], [IssuedBy], [CounterID]) VALUES (4, NULL, N'05744163-2E61-4567-A721-A961706D1A09', NULL, NULL, NULL, N'Requested', NULL, N'42806597-0e82-47e6-9610-cb74625320b2', 3003, CAST(N'2025-10-27T11:34:08.177' AS DateTime), NULL, NULL, NULL, CAST(N'2025-10-30T11:34:08.177' AS DateTime), 100002, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Circulation] OFF
GO
SET IDENTITY_INSERT [dbo].[FineReasons] ON 

INSERT [dbo].[FineReasons] ([FineReasonID], [Reason], [FineAmount], [SchoolID], [IsActive], [UserID]) VALUES (1, N'Book Lost', CAST(500.00 AS Decimal(10, 2)), 100002, 0, NULL)
SET IDENTITY_INSERT [dbo].[FineReasons] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialCopies] ON 

INSERT [dbo].[MaterialCopies] ([CopyID], [MaterialID], [AccountNumber], [BarcodeNumber], [CallNumber], [Status], [UniversityID], [SchoolID], [IsActive], [IsPrinted]) VALUES (7109, 2997, N'ACCNO2997001', N'LIBACCNO2997001', NULL, N'Available', N'42806597-0e82-47e6-9610-cb74625320b2', 100002, 0, 0)
INSERT [dbo].[MaterialCopies] ([CopyID], [MaterialID], [AccountNumber], [BarcodeNumber], [CallNumber], [Status], [UniversityID], [SchoolID], [IsActive], [IsPrinted]) VALUES (7110, 2997, N'ACCNO2997002', N'LIBACCNO2997002', NULL, N'Available', N'42806597-0e82-47e6-9610-cb74625320b2', 100002, 0, 0)
INSERT [dbo].[MaterialCopies] ([CopyID], [MaterialID], [AccountNumber], [BarcodeNumber], [CallNumber], [Status], [UniversityID], [SchoolID], [IsActive], [IsPrinted]) VALUES (7111, 2998, N'ACCT-2998-0001', N'BC-2998-000001', N'', N'Issued', N'42806597-0e82-47e6-9610-cb74625320b2', 100002, 0, 1)
GO
SET IDENTITY_INSERT [dbo].[MaterialCopies] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([MaterialID], [UniversityID], [Title], [Publisher], [YearPublished], [ISBN], [MaterialType], [AvailableQuantity], [TotalQuantity], [CreatedAt], [AuthorID], [Edition], [PlaceofPublishers], [Discription], [Pages], [Vol], [Source], [Price], [SchoolID], [IsActive]) VALUES (2997, N'42806597-0e82-47e6-9610-cb74625320b2', N'Shiva', N'Siva', 2025, N'1234567890', N'Book', 2, 2, CAST(N'2025-10-24T16:44:46.953' AS DateTime), 1229, N'1', N'Hyderabad', N'All is well', 100, N'1', N'Purchased', CAST(100.00 AS Decimal(10, 2)), 100002, 0)
INSERT [dbo].[Materials] ([MaterialID], [UniversityID], [Title], [Publisher], [YearPublished], [ISBN], [MaterialType], [AvailableQuantity], [TotalQuantity], [CreatedAt], [AuthorID], [Edition], [PlaceofPublishers], [Discription], [Pages], [Vol], [Source], [Price], [SchoolID], [IsActive]) VALUES (2998, N'42806597-0e82-47e6-9610-cb74625320b2', N'Physics', NULL, 2011, NULL, N'Book', 13, 15, CAST(N'2025-10-27T10:46:47.500' AS DateTime), 1231, N'5th', N'New Delhi,John 
Wiley & Sons Inc.', NULL, 566, N'Vol-I', NULL, CAST(529.00 AS Decimal(10, 2)), 100002, 0)
INSERT [dbo].[Materials] ([MaterialID], [UniversityID], [Title], [Publisher], [YearPublished], [ISBN], [MaterialType], [AvailableQuantity], [TotalQuantity], [CreatedAt], [AuthorID], [Edition], [PlaceofPublishers], [Discription], [Pages], [Vol], [Source], [Price], [SchoolID], [IsActive]) VALUES (2999, N'42806597-0e82-47e6-9610-cb74625320b2', N'Physics', NULL, 2005, NULL, N'Book', 2, 2, CAST(N'2025-10-27T10:46:47.887' AS DateTime), 2, N'5th', N'New York, John Wiley and Sons.Inc,', NULL, 566, N'Vol-I', NULL, NULL, 100002, 0)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([MaterialTypeID], [TypeName], [UniversityID], [SchoolID], [IsActive], [AddedBy]) VALUES (1, N'Book', NULL, 3, 1, NULL)
INSERT [dbo].[MaterialType] ([MaterialTypeID], [TypeName], [UniversityID], [SchoolID], [IsActive], [AddedBy]) VALUES (2, N'NewsLetter', NULL, 3, 1, NULL)
INSERT [dbo].[MaterialType] ([MaterialTypeID], [TypeName], [UniversityID], [SchoolID], [IsActive], [AddedBy]) VALUES (3, N'Jounrals', NULL, 3, 1, NULL)
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
SET IDENTITY_INSERT [dbo].[VisitorManagement] ON 

INSERT [dbo].[VisitorManagement] ([VisitorID], [VisitorName], [Purpose], [ContactNumber], [VisitDate], [CreatedBy], [UniversityID], [SchoolID]) VALUES (1, N'shiva', N'reading book', N'9573857287', CAST(N'2025-10-16T17:25:04.483' AS DateTime), 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[VisitorManagement] OFF
GO
SET IDENTITY_INSERT [ICFAISMS].[tblEmployee] ON 

SET IDENTITY_INSERT [ICFAISMS].[tblEmployee] OFF
GO
SET IDENTITY_INSERT [ICFAISMS].[tblRoles] ON 

INSERT [ICFAISMS].[tblRoles] ([RoleID], [RoleName], [RoleDescription], [UniversityID], [IsGlobalRole], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress], [RoleLevel], [ParentRoleID], [TemplateID], [IsSystemRole]) VALUES (1, N'SuperAdmin', N'Global administrator with full system access', NULL, 1, 1, N'SYSTEM', CAST(N'2025-09-16T14:50:07.0000000' AS DateTime2), N'127.0.0.1', NULL, NULL, NULL, N'SuperAdmin', NULL, NULL, 0)
INSERT [ICFAISMS].[tblRoles] ([RoleID], [RoleName], [RoleDescription], [UniversityID], [IsGlobalRole], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress], [RoleLevel], [ParentRoleID], [TemplateID], [IsSystemRole]) VALUES (11002, N'Administrator', N'University Administrator', NULL, 0, 0, N'AA60AA75-A335-4525-9F12-B2339CF12E08', CAST(N'2025-09-17T08:52:14.0157774' AS DateTime2), N'::1', NULL, NULL, NULL, N'Admin', NULL, NULL, 0)
SET IDENTITY_INSERT [ICFAISMS].[tblRoles] OFF
GO
SET IDENTITY_INSERT [ICFAISMS].[tblSchools] ON 

INSERT [ICFAISMS].[tblSchools] ([SchoolID], [SchoolName], [ShortName], [UniversityID], [HODUserID], [DepartmentEmail], [DepartmentPhone], [OfficeLocation], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress], [Grading]) VALUES (100002, N'Faculty of Science and Technology', N'FST', N'42806597-0e82-47e6-9610-cb74625320b2', NULL, NULL, NULL, NULL, 1, N'SYSTEM', CAST(N'2025-10-21T09:49:39.9266667' AS DateTime2), N'127.0.0.1', NULL, NULL, NULL, 10)
INSERT [ICFAISMS].[tblSchools] ([SchoolID], [SchoolName], [ShortName], [UniversityID], [HODUserID], [DepartmentEmail], [DepartmentPhone], [OfficeLocation], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress], [Grading]) VALUES (100003, N'Faculty of Science', N'FOS', N'42806597-0e82-47e6-9610-cb74625320b2', NULL, NULL, NULL, NULL, 1, N'SYSTEM', CAST(N'2025-10-21T09:49:39.9266667' AS DateTime2), N'127.0.0.1', NULL, NULL, NULL, 10)
INSERT [ICFAISMS].[tblSchools] ([SchoolID], [SchoolName], [ShortName], [UniversityID], [HODUserID], [DepartmentEmail], [DepartmentPhone], [OfficeLocation], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress], [Grading]) VALUES (100004, N'Faculty of Management Studies', N'FMS', N'42806597-0e82-47e6-9610-cb74625320b2', NULL, NULL, NULL, NULL, 1, N'SYSTEM', CAST(N'2025-10-21T09:49:39.9266667' AS DateTime2), N'127.0.0.1', NULL, NULL, NULL, 10)
SET IDENTITY_INSERT [ICFAISMS].[tblSchools] OFF
GO
SET IDENTITY_INSERT [ICFAISMS].[tblUserRoles] ON 

INSERT [ICFAISMS].[tblUserRoles] ([UserRoleID], [UserID], [RoleID], [UniversityID], [AssignedBy], [AssignedDate], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress]) VALUES (11002, N'AA60AA75-A335-4525-9F12-B2339CF12E08', 1, N'00000000-0000-0000-0000-000000000000', N'SYSTEM', CAST(N'2025-09-16T15:36:59.3434186' AS DateTime2), 1, N'SYSTEM', CAST(N'2025-09-16T15:36:59.3434186' AS DateTime2), N'::1', NULL, NULL, NULL)
INSERT [ICFAISMS].[tblUserRoles] ([UserRoleID], [UserID], [RoleID], [UniversityID], [AssignedBy], [AssignedDate], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress]) VALUES (12007, N'ef71bdb7-5a40-4867-b7c3-38646a2f318f', 11002, N'42806597-0e82-47e6-9610-cb74625320b2', N'AA60AA75-A335-4525-9F12-B2339CF12E08', CAST(N'2025-10-08T12:31:56.2014819' AS DateTime2), 1, N'AA60AA75-A335-4525-9F12-B2339CF12E08', CAST(N'2025-10-08T12:31:57.2112478' AS DateTime2), N'::1', NULL, NULL, NULL)
INSERT [ICFAISMS].[tblUserRoles] ([UserRoleID], [UserID], [RoleID], [UniversityID], [AssignedBy], [AssignedDate], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress]) VALUES (12013, N'0463f679-6d10-4a17-b1bc-933ac2073e1f', 11008, N'42806597-0e82-47e6-9610-cb74625320b2', N'ef71bdb7-5a40-4867-b7c3-38646a2f318f', CAST(N'2025-10-10T05:48:20.7495856' AS DateTime2), 1, N'ef71bdb7-5a40-4867-b7c3-38646a2f318f', CAST(N'2025-10-10T05:48:20.7495856' AS DateTime2), N'::1', NULL, NULL, NULL)
SET IDENTITY_INSERT [ICFAISMS].[tblUserRoles] OFF
GO
SET IDENTITY_INSERT [ICFAISMS].[tblUserSchools] ON 

INSERT [ICFAISMS].[tblUserSchools] ([UserSchoolID], [UserID], [SchoolID], [UniversityID], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress]) VALUES (10019, N'0B079205-3025-4CD7-A5D1-C9C1131C61A4', 100002, N'42806597-0e82-47e6-9610-cb74625320b2', 1, N'SYSTEM', CAST(N'2025-10-21T10:18:47.713' AS DateTime), N'127.0.0.1', NULL, NULL, NULL)
INSERT [ICFAISMS].[tblUserSchools] ([UserSchoolID], [UserID], [SchoolID], [UniversityID], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress]) VALUES (10020, N'4B3D62E7-020D-4F49-B0FF-161A23F80732', 100002, N'42806597-0e82-47e6-9610-cb74625320b2', 1, N'SYSTEM', CAST(N'2025-10-21T10:18:47.713' AS DateTime), N'127.0.0.1', NULL, NULL, NULL)
INSERT [ICFAISMS].[tblUserSchools] ([UserSchoolID], [UserID], [SchoolID], [UniversityID], [IsActive], [CreatedBy], [CreatedDate], [CreatedIPAddress], [ModifiedBy], [ModifiedDate], [ModifiedIPAddress]) VALUES (10021, N'0E9C6BA7-8698-4E76-BD1F-2D9AE52065B9', 100002, N'42806597-0e82-47e6-9610-cb74625320b2', 1, N'SYSTEM', CAST(N'2025-10-21T10:18:47.713' AS DateTime), N'127.0.0.1', NULL, NULL, NULL)
SET IDENTITY_INSERT [ICFAISMS].[tblUserSchools] OFF
GO
SET IDENTITY_INSERT [ICFAISMS].[tblUserUniversities] ON 

INSERT [ICFAISMS].[tblUserUniversities] ([UserUniversityID], [UserID], [UniversityID], [RoleHierarchyLevel], [IsPrimary], [CanManageUsers], [SystemWideAccess], [JoiningDate], [ExitDate], [Status], [ApprovalStatus], [IsActive]) VALUES (3, N'08331143-625d-4a59-bce6-5bc603db9136', N'42806597-0e82-47e6-9610-cb74625320b2', NULL, 1, 1, 0, NULL, NULL, NULL, NULL, 0)
INSERT [ICFAISMS].[tblUserUniversities] ([UserUniversityID], [UserID], [UniversityID], [RoleHierarchyLevel], [IsPrimary], [CanManageUsers], [SystemWideAccess], [JoiningDate], [ExitDate], [Status], [ApprovalStatus], [IsActive]) VALUES (5, N'ef71bdb7-5a40-4867-b7c3-38646a2f318f', N'42806597-0e82-47e6-9610-cb74625320b2', NULL, 1, 1, 0, NULL, NULL, NULL, NULL, 1)
INSERT [ICFAISMS].[tblUserUniversities] ([UserUniversityID], [UserID], [UniversityID], [RoleHierarchyLevel], [IsPrimary], [CanManageUsers], [SystemWideAccess], [JoiningDate], [ExitDate], [Status], [ApprovalStatus], [IsActive]) VALUES (6, N'AA60AA75-A335-4525-9F12-B2339CF12E08', N'00000000-0000-0000-0000-000000000000', NULL, 1, 1, 1, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [ICFAISMS].[tblUserUniversities] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__BE2ACD6F6EA31597]    Script Date: 28-10-2025 10:33:44 ******/
ALTER TABLE [dbo].[MaterialCopies] ADD  CONSTRAINT [UQ__Material__BE2ACD6F6EA31597] UNIQUE NONCLUSTERED 
(
	[AccountNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Material__DF352225DCE0CBB1]    Script Date: 28-10-2025 10:33:44 ******/
ALTER TABLE [dbo].[MaterialCopies] ADD  CONSTRAINT [UQ__Material__DF352225DCE0CBB1] UNIQUE NONCLUSTERED 
(
	[BarcodeNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Employee_EmployeeCode]    Script Date: 28-10-2025 10:33:44 ******/
ALTER TABLE [ICFAISMS].[tblEmployee] ADD  CONSTRAINT [UK_Employee_EmployeeCode] UNIQUE NONCLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Employee_UserID]    Script Date: 28-10-2025 10:33:44 ******/
ALTER TABLE [ICFAISMS].[tblEmployee] ADD  CONSTRAINT [UK_Employee_UserID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tblUsers__A9D105344FCE931F]    Script Date: 28-10-2025 10:33:44 ******/
ALTER TABLE [ICFAISMS].[tblUsers] ADD  CONSTRAINT [UQ__tblUsers__A9D105344FCE931F] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BarcodeHistory] ADD  CONSTRAINT [DF__BarcodeHi__Gener__28D80438]  DEFAULT (getdate()) FOR [GeneratedAt]
GO
ALTER TABLE [dbo].[BarcodeHistory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Bookinglisted] ADD  CONSTRAINT [DF__Bookingli__IsAct__7C3A67EB]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Circulation] ADD  CONSTRAINT [DF__Circulati__FineA__29CC2871]  DEFAULT ((0.00)) FOR [FineAmount]
GO
ALTER TABLE [dbo].[Circulation] ADD  CONSTRAINT [DF__Circulati__IsOve__2AC04CAA]  DEFAULT ((0)) FOR [IsOverdue]
GO
ALTER TABLE [dbo].[Circulation] ADD  CONSTRAINT [DF__Circulati__IsAct__7D2E8C24]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FineDetails] ADD  CONSTRAINT [DF__FineDetai__Appli__2BB470E3]  DEFAULT (getdate()) FOR [AppliedDate]
GO
ALTER TABLE [dbo].[FineDetails] ADD  CONSTRAINT [DF__FineDetail__Paid__2CA8951C]  DEFAULT ((0)) FOR [Paid]
GO
ALTER TABLE [dbo].[FineDetails] ADD  CONSTRAINT [DF__FineDetai__IsAct__7F16D496]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FineReasons] ADD  CONSTRAINT [DF__FineReaso__IsAct__000AF8CF]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LibraryCounters] ADD  CONSTRAINT [DF__LibraryCo__Creat__1AA9E072]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[MaterialCopies] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Materials] ADD  CONSTRAINT [DF__Materials__Creat__2F8501C7]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Materials] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MaterialType] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PatronNewMaterialRequests] ADD  CONSTRAINT [DF__PatronNew__Reque__44EA3301]  DEFAULT (getdate()) FOR [RequestedDate]
GO
ALTER TABLE [dbo].[PatronNewMaterialRequests] ADD  CONSTRAINT [DF__PatronNew__Statu__45DE573A]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[PatronNewMaterialRequests] ADD  CONSTRAINT [DF__PatronNew__IsAct__04CFADEC]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VisitorManagement] ADD  DEFAULT (getdate()) FOR [VisitDate]
GO
ALTER TABLE [ICFAISMS].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [ICFAISMS].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [ICFAISMS].[tblEmployee] ADD  CONSTRAINT [DF_tblEmployee_CreatedIPAddress_New]  DEFAULT (coalesce(CONVERT([nvarchar](50),session_context(N'ClientIP')),host_name())) FOR [CreatedIPAddress]
GO
ALTER TABLE [ICFAISMS].[tblEmployee] ADD  DEFAULT ((0)) FOR [IsTeachingStaff]
GO
ALTER TABLE [ICFAISMS].[tblRoles] ADD  CONSTRAINT [DF_tblRoles_CreatedBy]  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [ICFAISMS].[tblRoles] ADD  CONSTRAINT [DF_tblRoles_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [ICFAISMS].[tblRoles] ADD  CONSTRAINT [DF_tblRoles_CreatedIPAddress_New]  DEFAULT (coalesce(CONVERT([nvarchar](50),session_context(N'ClientIP')),host_name())) FOR [CreatedIPAddress]
GO
ALTER TABLE [ICFAISMS].[tblRoles] ADD  DEFAULT ((0)) FOR [IsSystemRole]
GO
ALTER TABLE [ICFAISMS].[tblSchools] ADD  CONSTRAINT [DF_tblDepartment_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [ICFAISMS].[tblSchools] ADD  CONSTRAINT [DF_tblDepartment_CreatedIPAddress_New]  DEFAULT (coalesce(CONVERT([nvarchar](50),session_context(N'ClientIP')),host_name())) FOR [CreatedIPAddress]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF_tblStudent_StudentID]  DEFAULT (CONVERT([nvarchar](450),newid())) FOR [StudentID]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF__tblStuden__Stude__1699586C]  DEFAULT ('Active') FOR [StudentStatus]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF__tblStuden__IsAct__178D7CA5]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF__tblStuden__Creat__1881A0DE]  DEFAULT ('SYSTEM') FOR [CreatedBy]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF__tblStuden__Creat__1975C517]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF__tblStuden__Verif__5DA0D232]  DEFAULT ('PENDING') FOR [VerificationStatus]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF__tblStuden__Regis__5E94F66B]  DEFAULT ('WEB_PORTAL') FOR [RegistrationSource]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF__tblStuden__Encry__5F891AA4]  DEFAULT ((1)) FOR [EncryptionKeyVersion]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF_tblStudent_MaritalStatus]  DEFAULT ('Single') FOR [MaritalStatus]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF_tblStudent_Nationality]  DEFAULT ('Indian') FOR [Nationality]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF_tblStudent_PhysicallyChallenged]  DEFAULT ((0)) FOR [PhysicallyChallenged]
GO
ALTER TABLE [ICFAISMS].[tblStudent] ADD  CONSTRAINT [DF__tblStuden__Appro__51A50FA1]  DEFAULT ('PENDING') FOR [ApprovalStatus]
GO
ALTER TABLE [ICFAISMS].[tblUniversity] ADD  CONSTRAINT [DF_tblUniversity_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [ICFAISMS].[tblUniversity] ADD  CONSTRAINT [DF_tblUniversity_CreatedIPAddress_New]  DEFAULT (coalesce(CONVERT([nvarchar](50),session_context(N'ClientIP')),host_name())) FOR [CreatedIPAddress]
GO
ALTER TABLE [ICFAISMS].[tblUserRoles] ADD  CONSTRAINT [DF_tblUserRoles_AssignedDate]  DEFAULT (sysutcdatetime()) FOR [AssignedDate]
GO
ALTER TABLE [ICFAISMS].[tblUserRoles] ADD  CONSTRAINT [DF_tblUserRoles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [ICFAISMS].[tblUserRoles] ADD  CONSTRAINT [DF_tblUserRoles_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [ICFAISMS].[tblUserRoles] ADD  CONSTRAINT [DF_tblUserRoles_CreatedIPAddress_New]  DEFAULT (coalesce(CONVERT([nvarchar](50),session_context(N'ClientIP')),host_name())) FOR [CreatedIPAddress]
GO
ALTER TABLE [ICFAISMS].[tblUsers] ADD  CONSTRAINT [DF__tblUsers__Requir__69FBBC1F]  DEFAULT ((0)) FOR [RequirePasswordReset]
GO
ALTER TABLE [ICFAISMS].[tblUsers] ADD  CONSTRAINT [DF__tblUsers__TwoFac__6AEFE058]  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [ICFAISMS].[tblUsers] ADD  CONSTRAINT [DF__tblUsers__IsActi__6BE40491]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [ICFAISMS].[tblUsers] ADD  CONSTRAINT [DF__tblUsers__IsLock__6CD828CA]  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [ICFAISMS].[tblUsers] ADD  CONSTRAINT [DF_tblUsers_CreatedDate]  DEFAULT (sysutcdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [ICFAISMS].[tblUsers] ADD  CONSTRAINT [DF__tblUsers__Failed__035179CE]  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [ICFAISMS].[tblUsers] ADD  CONSTRAINT [DF__tblUsers__MustCh__04459E07]  DEFAULT ((0)) FOR [MustChangePassword]
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities] ADD  CONSTRAINT [DF__tblUserUn__IsPri__7755B73D]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities] ADD  CONSTRAINT [DF__tblUserUn__CanMa__7849DB76]  DEFAULT ((0)) FOR [CanManageUsers]
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities] ADD  CONSTRAINT [DF__tblUserUn__Syste__793DFFAF]  DEFAULT ((0)) FOR [SystemWideAccess]
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities] ADD  CONSTRAINT [DF__tblUserUn__IsAct__758D6A5C]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BarcodeHistory]  WITH CHECK ADD  CONSTRAINT [FK__BarcodeHi__CopyI__316D4A39] FOREIGN KEY([CopyID])
REFERENCES [dbo].[MaterialCopies] ([CopyID])
GO
ALTER TABLE [dbo].[BarcodeHistory] CHECK CONSTRAINT [FK__BarcodeHi__CopyI__316D4A39]
GO
ALTER TABLE [dbo].[BarcodeHistory]  WITH CHECK ADD  CONSTRAINT [FK__BarcodeHi__CopyI__4FF1D159] FOREIGN KEY([CopyID])
REFERENCES [dbo].[MaterialCopies] ([CopyID])
GO
ALTER TABLE [dbo].[BarcodeHistory] CHECK CONSTRAINT [FK__BarcodeHi__CopyI__4FF1D159]
GO
ALTER TABLE [dbo].[BarcodeHistory]  WITH CHECK ADD  CONSTRAINT [FK_BarcodeHistory_tblSchools] FOREIGN KEY([SchoolID])
REFERENCES [ICFAISMS].[tblSchools] ([SchoolID])
GO
ALTER TABLE [dbo].[BarcodeHistory] CHECK CONSTRAINT [FK_BarcodeHistory_tblSchools]
GO
ALTER TABLE [dbo].[Bookinglisted]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[Bookinglisted] CHECK CONSTRAINT [FK_Booking_Material]
GO
ALTER TABLE [dbo].[Bookinglisted]  WITH CHECK ADD  CONSTRAINT [FK_Bookinglisted_tblUsers] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[Bookinglisted] CHECK CONSTRAINT [FK_Bookinglisted_tblUsers]
GO
ALTER TABLE [dbo].[Circulation]  WITH CHECK ADD  CONSTRAINT [FK_Circulation_Material] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[Circulation] CHECK CONSTRAINT [FK_Circulation_Material]
GO
ALTER TABLE [dbo].[Circulation]  WITH CHECK ADD  CONSTRAINT [FK_Circulation_MaterialCopies] FOREIGN KEY([CopyID])
REFERENCES [dbo].[MaterialCopies] ([CopyID])
GO
ALTER TABLE [dbo].[Circulation] CHECK CONSTRAINT [FK_Circulation_MaterialCopies]
GO
ALTER TABLE [dbo].[Circulation]  WITH CHECK ADD  CONSTRAINT [FK_Circulation_tblUsers] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[Circulation] CHECK CONSTRAINT [FK_Circulation_tblUsers]
GO
ALTER TABLE [dbo].[FineDetails]  WITH CHECK ADD  CONSTRAINT [FK__FineDetai__Circu__3726238F] FOREIGN KEY([CirculationID])
REFERENCES [dbo].[Circulation] ([CirculationID])
GO
ALTER TABLE [dbo].[FineDetails] CHECK CONSTRAINT [FK__FineDetai__Circu__3726238F]
GO
ALTER TABLE [dbo].[FineDetails]  WITH CHECK ADD  CONSTRAINT [FK__FineDetai__Circu__52CE3E04] FOREIGN KEY([CirculationID])
REFERENCES [dbo].[Circulation] ([CirculationID])
GO
ALTER TABLE [dbo].[FineDetails] CHECK CONSTRAINT [FK__FineDetai__Circu__52CE3E04]
GO
ALTER TABLE [dbo].[FineDetails]  WITH CHECK ADD  CONSTRAINT [FK_FineDetails_tblUsers] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[FineDetails] CHECK CONSTRAINT [FK_FineDetails_tblUsers]
GO
ALTER TABLE [dbo].[FineReasons]  WITH CHECK ADD  CONSTRAINT [FK_FineReasons_FineReasons] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[FineReasons] CHECK CONSTRAINT [FK_FineReasons_FineReasons]
GO
ALTER TABLE [dbo].[MaterialCopies]  WITH CHECK ADD  CONSTRAINT [FK_MaterialCopies_Materials] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[MaterialCopies] CHECK CONSTRAINT [FK_MaterialCopies_Materials]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Authors] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([AuthorID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Authors]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_tblSchools] FOREIGN KEY([SchoolID])
REFERENCES [ICFAISMS].[tblSchools] ([SchoolID])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_tblSchools]
GO
ALTER TABLE [dbo].[PatronNewMaterialRequests]  WITH CHECK ADD  CONSTRAINT [FK_PatronNewMaterialRequests_tblUsers] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[PatronNewMaterialRequests] CHECK CONSTRAINT [FK_PatronNewMaterialRequests_tblUsers]
GO
ALTER TABLE [ICFAISMS].[tblEmployee]  WITH CHECK ADD  CONSTRAINT [FK_tblEmployee_tblDesignation] FOREIGN KEY([DesignationID])
REFERENCES [ICFAISMS].[tblDesignation] ([DesignationID])
GO
ALTER TABLE [ICFAISMS].[tblEmployee] CHECK CONSTRAINT [FK_tblEmployee_tblDesignation]
GO
ALTER TABLE [ICFAISMS].[tblEmployee]  WITH CHECK ADD  CONSTRAINT [FK_tblEmployee_tblUsers] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [ICFAISMS].[tblEmployee] CHECK CONSTRAINT [FK_tblEmployee_tblUsers]
GO
ALTER TABLE [ICFAISMS].[tblRoles]  WITH CHECK ADD  CONSTRAINT [FK_tblRoles_RoleTemplates] FOREIGN KEY([TemplateID])
REFERENCES [ICFAISMS].[tblRoleTemplates] ([TemplateID])
GO
ALTER TABLE [ICFAISMS].[tblRoles] CHECK CONSTRAINT [FK_tblRoles_RoleTemplates]
GO
ALTER TABLE [ICFAISMS].[tblRoles]  WITH CHECK ADD  CONSTRAINT [FK_tblRoles_University] FOREIGN KEY([UniversityID])
REFERENCES [ICFAISMS].[tblUniversity] ([UniversityID])
GO
ALTER TABLE [ICFAISMS].[tblRoles] CHECK CONSTRAINT [FK_tblRoles_University]
GO
ALTER TABLE [ICFAISMS].[tblSchools]  WITH CHECK ADD  CONSTRAINT [FK_Department_HOD] FOREIGN KEY([HODUserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [ICFAISMS].[tblSchools] CHECK CONSTRAINT [FK_Department_HOD]
GO
ALTER TABLE [ICFAISMS].[tblSchools]  WITH CHECK ADD  CONSTRAINT [FK_tblDepartment_University] FOREIGN KEY([UniversityID])
REFERENCES [ICFAISMS].[tblUniversity] ([UniversityID])
GO
ALTER TABLE [ICFAISMS].[tblSchools] CHECK CONSTRAINT [FK_tblDepartment_University]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_Student_ProgramBatch] FOREIGN KEY([BatchID])
REFERENCES [ICFAISMS].[tblProgramBatch] ([BatchID])
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [FK_Student_ProgramBatch]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_Student_ProgramInstance] FOREIGN KEY([ProgramInstanceID])
REFERENCES [ICFAISMS].[tblProgramInstance] ([ProgramInstanceID])
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [FK_Student_ProgramInstance]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_Student_SecuritySession] FOREIGN KEY([RegistrationSessionID])
REFERENCES [ICFAISMS].[tblSecuritySessions] ([SessionID])
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [FK_Student_SecuritySession]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_tblProgramMaster] FOREIGN KEY([ProgramMasterID])
REFERENCES [ICFAISMS].[tblProgramMaster] ([ProgramMasterID])
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_tblProgramMaster]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_tblSchools] FOREIGN KEY([SchoolID])
REFERENCES [ICFAISMS].[tblSchools] ([SchoolID])
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_tblSchools]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_tblStudent] FOREIGN KEY([StudentID])
REFERENCES [ICFAISMS].[tblStudent] ([StudentID])
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_tblStudent]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_tblUsers] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_tblUsers]
GO
ALTER TABLE [ICFAISMS].[tblUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_tblUserRoles_University] FOREIGN KEY([UniversityID])
REFERENCES [ICFAISMS].[tblUniversity] ([UniversityID])
GO
ALTER TABLE [ICFAISMS].[tblUserRoles] CHECK CONSTRAINT [FK_tblUserRoles_University]
GO
ALTER TABLE [ICFAISMS].[tblUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleID])
REFERENCES [ICFAISMS].[tblRoles] ([RoleID])
GO
ALTER TABLE [ICFAISMS].[tblUserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [ICFAISMS].[tblUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_University] FOREIGN KEY([UniversityID])
REFERENCES [ICFAISMS].[tblUniversity] ([UniversityID])
GO
ALTER TABLE [ICFAISMS].[tblUserRoles] CHECK CONSTRAINT [FK_UserRoles_University]
GO
ALTER TABLE [ICFAISMS].[tblUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [ICFAISMS].[tblUserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [ICFAISMS].[tblUserSchools]  WITH CHECK ADD  CONSTRAINT [FK_tblUserSchools_tblSchools] FOREIGN KEY([SchoolID])
REFERENCES [ICFAISMS].[tblSchools] ([SchoolID])
GO
ALTER TABLE [ICFAISMS].[tblUserSchools] CHECK CONSTRAINT [FK_tblUserSchools_tblSchools]
GO
ALTER TABLE [ICFAISMS].[tblUserSchools]  WITH CHECK ADD  CONSTRAINT [FK_tblUserSchools_tblUniversity] FOREIGN KEY([UniversityID])
REFERENCES [ICFAISMS].[tblUniversity] ([UniversityID])
GO
ALTER TABLE [ICFAISMS].[tblUserSchools] CHECK CONSTRAINT [FK_tblUserSchools_tblUniversity]
GO
ALTER TABLE [ICFAISMS].[tblUserSchools]  WITH CHECK ADD  CONSTRAINT [FK_tblUserSchools_tblUsers] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [ICFAISMS].[tblUserSchools] CHECK CONSTRAINT [FK_tblUserSchools_tblUsers]
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities]  WITH CHECK ADD  CONSTRAINT [FK_tblUserUniversities_tblUniversity] FOREIGN KEY([UniversityID])
REFERENCES [ICFAISMS].[tblUniversity] ([UniversityID])
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities] CHECK CONSTRAINT [FK_tblUserUniversities_tblUniversity]
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities]  WITH CHECK ADD  CONSTRAINT [FK_tblUserUniversities_tblUsers] FOREIGN KEY([UserID])
REFERENCES [ICFAISMS].[tblUsers] ([UserID])
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities] CHECK CONSTRAINT [FK_tblUserUniversities_tblUsers]
GO
ALTER TABLE [dbo].[Circulation]  WITH CHECK ADD  CONSTRAINT [CK_Circulation_Status] CHECK  (([Status]='Canceled' OR [Status]='Requested' OR [Status]='Renewed' OR [Status]='BookLost' OR [Status]='Expired' OR [Status]='Overdue' OR [Status]='Returned' OR [Status]='Issued'))
GO
ALTER TABLE [dbo].[Circulation] CHECK CONSTRAINT [CK_Circulation_Status]
GO
ALTER TABLE [ICFAISMS].[tblEmployee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_Dates] CHECK  (([JoiningDate]<=isnull([ExitDate],'2099-12-31') AND [DateOfBirth] IS NULL OR [DateOfBirth]<[JoiningDate]))
GO
ALTER TABLE [ICFAISMS].[tblEmployee] CHECK CONSTRAINT [CK_Employee_Dates]
GO
ALTER TABLE [ICFAISMS].[tblEmployee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_Gender] CHECK  (([Gender] IS NULL OR ([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male')))
GO
ALTER TABLE [ICFAISMS].[tblEmployee] CHECK CONSTRAINT [CK_Employee_Gender]
GO
ALTER TABLE [ICFAISMS].[tblEmployee]  WITH CHECK ADD  CONSTRAINT [CK_Employee_Salary_Range] CHECK  (([Salary] IS NULL OR [Salary]>=(0) AND [Salary]<=(9999999.99)))
GO
ALTER TABLE [ICFAISMS].[tblEmployee] CHECK CONSTRAINT [CK_Employee_Salary_Range]
GO
ALTER TABLE [ICFAISMS].[tblSchools]  WITH CHECK ADD  CONSTRAINT [CK_Department_Email_Format] CHECK  (([DepartmentEmail] IS NULL OR [DepartmentEmail] like '%_@_%.__%'))
GO
ALTER TABLE [ICFAISMS].[tblSchools] CHECK CONSTRAINT [CK_Department_Email_Format]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [CHK_MobileNumber_Format] CHECK  (([MobileNumber] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]%' AND (len([MobileNumber])>=(10) AND len([MobileNumber])<=(15))))
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [CHK_MobileNumber_Format]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [CHK_Student_DateOfBirth] CHECK  (([DateOfBirth]<=getdate()))
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [CHK_Student_DateOfBirth]
GO
ALTER TABLE [ICFAISMS].[tblStudent]  WITH CHECK ADD  CONSTRAINT [CK_Student_Email_Format] CHECK  (([PersonalEmail] IS NULL OR [PersonalEmail] like '%_@_%.__%'))
GO
ALTER TABLE [ICFAISMS].[tblStudent] CHECK CONSTRAINT [CK_Student_Email_Format]
GO
ALTER TABLE [ICFAISMS].[tblUniversity]  WITH CHECK ADD  CONSTRAINT [CK_University_Email_Format] CHECK  (([ContactEmail] IS NULL OR [ContactEmail] like '%_@_%.__%'))
GO
ALTER TABLE [ICFAISMS].[tblUniversity] CHECK CONSTRAINT [CK_University_Email_Format]
GO
ALTER TABLE [ICFAISMS].[tblUniversity]  WITH CHECK ADD  CONSTRAINT [CK_University_EstablishedYear] CHECK  (([EstablishedYear]>=(1800) AND [EstablishedYear]<=datepart(year,getdate())))
GO
ALTER TABLE [ICFAISMS].[tblUniversity] CHECK CONSTRAINT [CK_University_EstablishedYear]
GO
ALTER TABLE [ICFAISMS].[tblUsers]  WITH CHECK ADD  CONSTRAINT [CK_Users_Email_Format] CHECK  (([Email] like '%@%.%' AND NOT [Email] like '%@%@%' AND len([Email])>=(5)))
GO
ALTER TABLE [ICFAISMS].[tblUsers] CHECK CONSTRAINT [CK_Users_Email_Format]
GO
ALTER TABLE [ICFAISMS].[tblUsers]  WITH CHECK ADD  CONSTRAINT [CK_Users_FailedAttempts] CHECK  (([FailedLoginAttempts]>=(0) AND [FailedLoginAttempts]<=(10)))
GO
ALTER TABLE [ICFAISMS].[tblUsers] CHECK CONSTRAINT [CK_Users_FailedAttempts]
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities]  WITH CHECK ADD  CONSTRAINT [CK_UserUniversities_RoleLevel] CHECK  (([RoleHierarchyLevel] IS NULL OR [RoleHierarchyLevel]>=(1) AND [RoleHierarchyLevel]<=(10)))
GO
ALTER TABLE [ICFAISMS].[tblUserUniversities] CHECK CONSTRAINT [CK_UserUniversities_RoleLevel]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Employee profiles linked to users with comprehensive HR information' , @level0type=N'SCHEMA',@level0name=N'ICFAISMS', @level1type=N'TABLE',@level1name=N'tblEmployee'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Core university master table for multi-tenant system' , @level0type=N'SCHEMA',@level0name=N'ICFAISMS', @level1type=N'TABLE',@level1name=N'tblUniversity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'System-generated unique identifier using GUID format for cross-system compatibility' , @level0type=N'SCHEMA',@level0name=N'ICFAISMS', @level1type=N'TABLE',@level1name=N'tblUsers', @level2type=N'COLUMN',@level2name=N'UserID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'JSON/XML structure containing previous password hashes for reuse prevention' , @level0type=N'SCHEMA',@level0name=N'ICFAISMS', @level1type=N'TABLE',@level1name=N'tblUsers', @level2type=N'COLUMN',@level2name=N'PasswordHistory'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Central user management table with temporal versioning for complete audit trail' , @level0type=N'SCHEMA',@level0name=N'ICFAISMS', @level1type=N'TABLE',@level1name=N'tblUsers'
GO
